body {
	padding: 0;
	margin: 0;
}

#map,
body,
html {
	height: 100%;
}

.legend {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.legend-title {
	margin-bottom: 10px;
}

.legend-item {
	display: flex;
	align-items: center;
}

.legend-item span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
